{% extends "base.html" %}

{% block content %}
    <h2>Settings</h2>
    <form method="POST" action="{{ url_for('settings') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email(size=32, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.current_password.label }}<br>
            {{ form.current_password(size=32, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_new_password.label }}<br>
            {{ form.confirm_new_password(size=32, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}